<app-flex-box-column>
  <app-text-block
    title="Welkom"
    text="Welkom op huurmartijn.nl. De website die speciaal gemaakt is voor iedereen die intresse heeft om Martijn in dienst te nemen. Het goede nieuws voor jou is, Martijn is op zoek naar vast dienstverband.
    Of het nou gaat om een frontend, backend of fullstack oplossing. Hieronder vindt je alles wat je wilt weten over Martijn. Heb je nu al intresse in een gesprek met Martijn, neem dan contact met hem op via schotel.mc@gmail.com of via 06-30967885."
  ></app-text-block>
  <app-personal-info-cube
  title="Over Martijn"
  ></app-personal-info-cube>
</app-flex-box-column>
