.toolbar {
  display: flex;
  justify-content: center;
  flex-flow: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #479099;
  color: white;
  font-weight: 600;
}
