body {
  color: #333;
  padding: 20px;
  text-align: center;
  font-family: Arial;
}

label {
  margin-right: 30px;
  font-size: 24px;
}

.view_3d {
  margin-top: 20px;
  margin-left: 10px;
  height: 300px;
  width: 300px;
  display: inline-block;
  text-align: center;
  perspective: 1000px;
  backface-visibility: hidden;
}

.cube_3d {
  width: 100%;
  height: 100%;
  display: inline-block;  
  text-align: center;
  position: relative; 
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
}

.pane {
  position: absolute; 
  height: 300px;
  width: 300px;
  border: 1px solid #479099;
  border-radius: 5px;
  opacity: 0.8;
  backface-visibility: hidden;
}

.front {
  background: white;
  z-index: 2;
  transform: translate3d(0,0,125px);
}

.back { 
  background: white;
 transform: rotateY(180deg) translate3d(0,0,125px);
}

.left {
  background: white;
  transform: rotateY(-90deg) translate3d(0,0,125px);
}
  
.right {
  background: white;
  transform: rotateY(90deg) translate3d(0,0,125px);
}
  
.top { 
  background: white;
  transform: rotateX(90deg) translate3d(0,0,125px);
}
  
.bottom {    
  background: white;
  transform: rotateX(-90deg) translate3d(0,0,125px);
}

.selected--front {
  transform: rotateY(0deg);
}

.selected--top {
  transform: rotateX(-90deg);
}

.selected--left {
  transform: rotateY(90deg);
}

.selected--right {
  transform: rotateY(-90deg);
}

.selected--bottom {
  transform: rotateX(90deg);
}

.selected--back {
  transform: rotateY(180deg);
}

.controls--desktop {
  display: none;
}

.controls--mobile {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .controls--desktop {
    display: block;
  }

  .controls--mobile {
    display: none;
   margin-top: 20px;
  }

  .view_3d {
    width: 30vw;
    height: 30vw;
  }

  .pane { 
    width: 30vw;
    height: 30vw;
  }
}


