.button {
  width: 100px;
  padding: 10px 20px;
  margin: 0px 50px 25px 30px;
  border-radius: 5px;
  font-size: 10px;
  background-color: #479099;
  border: 1px solid #479099;
  color: white;
}

.button:hover{
  background-color: #DDF6EE;
  border: 1px solid #479099;
  color: #479099;
}