.textBlock__backgroundHolder {
  position: absolute;
  z-index: -1;
  margin-left: 15vw;
  margin-bottom: 20px;
}

.textBLock__background-block--upper {
  height: 80px;
  width: 80px;
  background-color: #DDF6EE;
  position: absolute;
}

.textBLock__background-block--bottom {
  height: 80px;
  width: 80px;
  top: 60px;
  left: 60px;
  position: absolute;
  background-color: #DDF6EE;
  z-index: -1;
}

.textBLock__background-block--right {
  height: 80px;
  width: 80px;
  top: 30px;
  left: 100px;
  position: absolute;
  background-color: #DDF6EE;
  z-index: 0;
}
