<ng-template #front>
  <div>
    <app-title title="Personalia"></app-title>
      <app-list-item *ngFor="let personalium of personalia"> {{ personalium }}</app-list-item>
  </div>
</ng-template>

<ng-template #top>
  <div>
    <app-title title="Skills"></app-title>
    <app-flex-box-row>
      <app-skill *ngFor="let skill of skills"> {{ skill }}</app-skill>
    </app-flex-box-row>
  </div>
</ng-template>

<ng-template #bottom>
  <div>
    <app-title title="Opleidingen"></app-title>
    <app-education *ngFor="let education of educations"
      [degree]="education.degree"
      [educator]="education.educator"
      [startDate]="education.startDate"
      [endDate]="education.endDate"
    ></app-education>
  </div>
</ng-template>

<ng-template #left>
  <div>
    <app-title title="Curssusen"></app-title>
    <app-training  *ngFor="let training of trainings"
      [training]="training.training"
      [status]="training.status"
      [year]="training.year"
    ></app-training>
  </div>
</ng-template>

<ng-template #right>
  <div>
    <app-title title="Intesses"></app-title>
    <app-list-item *ngFor="let interest of interests"> {{ interest }}</app-list-item>
  </div>
</ng-template>

<ng-template #back>
  <div>
    <app-title title="Weetjes"></app-title>
    <app-list-item *ngFor="let fact of facts">{{ fact }}</app-list-item>

  </div>
</ng-template>

<section>
  <app-title title="Over Martijn"></app-title>
  <app-article text="klik op de knoppen om informatie over Martijn te zien."></app-article>
  <app-base-cube
    [templateFront]="front"
    buttonTextFront="Personalia"
    [templateTop]="top"
    buttonTextTop="Skills"
    [templateBottom]="bottom"
    buttonTextBottom="Opleidingen"
    [templateLeft]="left"
    buttonTextLeft="Cursussen"
    [templateRight]="right"
    buttonTextRight="Intresses"
    [templateBack]="back"
    buttonTextBack="Weetjes"
  ></app-base-cube>
</section>
