<ng-template #front>
  <div>
    <app-title title="Personalia"></app-title>
      <app-list-item>Woont in Gouda</app-list-item>
      <app-list-item>Getrouwd</app-list-item>
      <app-list-item>Zoontje van zes maanden</app-list-item>
      <app-list-item>email: schotel.mc@gmail.com</app-list-item>
      <app-list-item>tel: 06-30967885</app-list-item>
  </div>
</ng-template>

<ng-template #top>
  <div>
    <app-title title="Skills"></app-title>
    <div>
      Martijn is fucking awesome
    </div>
  </div>
</ng-template>

<ng-template #bottom>
  <div>
    <app-title title="Opleidingen"></app-title>
    <div>
      Martijn is fucking awesome
    </div>
  </div>
</ng-template>

<ng-template #left>
  <div>
    <app-title title="Curssusen"></app-title>
    <div>
      Martijn is fucking awesome
    </div>
  </div>
</ng-template>

<ng-template #right>
  <div>
    <app-title title="Intesses"></app-title>
    <app-list-item>Programmeren</app-list-item>
    <app-list-item>Gitaar spelen</app-list-item>
    <app-list-item>Hardlopen</app-list-item>
    <app-list-item>Koken</app-list-item>
    <app-list-item>Lezen</app-list-item>
  </div>
</ng-template>

<ng-template #back>
  <div>
    <app-title title="Weetjes"></app-title>
    <app-list-item>Maakt heerlijke rocky road</app-list-item>
    <app-list-item>Staat graag vroeg op</app-list-item>
    <app-list-item>Kookt altijd met verse groente</app-list-item>
    <app-list-item>Favoriete boek: Mistborn</app-list-item>
    <app-list-item>Favoriete boek: Coach Carter</app-list-item>
  </div>
</ng-template>

<section>
  <app-title title="Over Martijn"></app-title>
  <app-article text="klik op de knoppen om informatie over Martijn te zien."></app-article>
  <app-base-cube
    [templateFront]="front"
    buttonTextFront="Personalia"
    [templateTop]="top"
    buttonTextTop="Skills"
    [templateBottom]="bottom"
    buttonTextBottom="Opleidingen"
    [templateLeft]="left"
    buttonTextLeft="Cursussen"
    [templateRight]="right"
    buttonTextRight="Intresses"
    [templateBack]="back"
    buttonTextBack="Weetjes"
  ></app-base-cube>
</section>
