<ng-template #front>
  <div>
    <app-title title="Personalia"></app-title>
      <app-list-item *ngFor="let personalium of personalia"> {{ personalium }}</app-list-item>
  </div>
</ng-template>

<ng-template #top>
  <div>
    <app-title title="Skills"></app-title>
    <app-flex-box-row>
      <app-skill *ngFor="let skill of skills"> {{ skill }}</app-skill>
    </app-flex-box-row>
  </div>
</ng-template>

<ng-template #bottom>
  <div>
    <app-title title="Opleidingen"></app-title>
    <app-education
      degree="HBO Commerciële Economie"
      educator="Leidsche Onderwijs Instellingen"
      startDate="02/2012"
      endDate="10/2014"
    ></app-education>

    <app-education
    degree="HBO Chemie"
    educator="Hogeschool Arnhem en Nijmegen"
    startDate="07/2007"
    endDate="11/2011"
  ></app-education>

  <app-education
  degree="Havo"
  educator="Maaswaal College"
  startDate="09/2002"
  endDate="07/2007"
></app-education>

  </div>
</ng-template>

<ng-template #left>
  <div>
    <app-title title="Curssusen"></app-title>
    <app-training
      training="Microsoft Certified: Azure Fundamentals"
      status="Huidig"
      year="2020"
    ></app-training>
    <app-training
      training="Microsoft 70-483"
      status="Behaald"
      year="2015"
    ></app-training>
    <app-training
      training="MScrum PSM 1"
      status="Behaald"
      year="2015"
     ></app-training>
    <app-training
      training="Business English Certificate Vantage"
      status="Behaald"
      year="2013"
    ></app-training>
    <app-training
      training="Nima B consumentenMarketing"
      status="Behaald"
      year="2013"
    ></app-training>
    <app-training
      training="Exin I-track: Project participation foundation"
      status="Behaald"
      year="2013"
    ></app-training>
    <app-training
    training="Nima A"
    status="Behaald"
    year="2012"
  ></app-training>
  </div>
</ng-template>

<ng-template #right>
  <div>
    <app-title title="Intesses"></app-title>
    <app-list-item *ngFor="let interest of interests"> {{ interest }}</app-list-item>
  </div>
</ng-template>

<ng-template #back>
  <div>
    <app-title title="Weetjes"></app-title>
    <app-list-item *ngFor="let fact of facts">{{ fact }}</app-list-item>

  </div>
</ng-template>

<section>
  <app-title title="Over Martijn"></app-title>
  <app-article text="klik op de knoppen om informatie over Martijn te zien."></app-article>
  <app-base-cube
    [templateFront]="front"
    buttonTextFront="Personalia"
    [templateTop]="top"
    buttonTextTop="Skills"
    [templateBottom]="bottom"
    buttonTextBottom="Opleidingen"
    [templateLeft]="left"
    buttonTextLeft="Cursussen"
    [templateRight]="right"
    buttonTextRight="Intresses"
    [templateBack]="back"
    buttonTextBack="Weetjes"
  ></app-base-cube>
</section>
